<?xml version="1.0"?>
<launch>

  <include file="$(find flightgoggles)/launch/core.launch">
  </include>

  <include file="$(find visualizer)/launch/view.launch">
  </include>

  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find flightcontroller)/rviz/viewer.rviz" />
  <node pkg="rqt_plot" type="rqt_plot" name="x_euler_plot" args="/uav/sensors/velocity/twist/linear/x /uav/sensors/velocity/twist/linear/y /uav/sensors/velocity/twist/linear/z"/> -->

  <node type="rqt_publisher" name="rqt_publisher" pkg="rqt_publisher"/>

  <include file="$(find flightcontroller)/launch/angle.launch">
  </include>

  <include file="$(find flightcontroller)/launch/velocity.launch">
  </include>

  <include file="$(find flightcontroller)/launch/position.launch">
  </include>

  <node name="state_safety_node" pkg="simple_control" type="state_and_safety.py" output="screen"/>
  <node name="keyboard_manager_node" pkg="simple_control" type="keyboard_manager.py" output="screen"/>
  <node name="keyboard" pkg="keyboard" type="keyboard"/>
</launch>
